.messenger {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px); /* Высота экрана минус высота хедера */
    max-width: 1200px;
    margin: 20px auto;
    background: #1a1a24;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: #e0e0e5;
}

.messenger-container {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
}

.messenger-error {
    padding: 10px;
    margin: 10px;
    background-color: rgba(187, 77, 77, 0.2);
    color: #ff7e7e;
    border-radius: 4px;
    text-align: center;
} 