/* Импорт переменных и стилей */
@import './styles/index.css';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Play', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #ffffff;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Стили для языка страницы */
html {
  lang: ru;
}
